#location-header-container {
  transition: 0.7s height;
  height: auto;
  position: relative;
  background: #363636;
  display: flex;
  overflow: hidden;
  top: 0px;
  z-index: 2;
}

#location-header-container.headroom--not-top {
  height: 0px;
}

#location-header-container .outer {
  display: flex;
  color: white;
  margin: auto;
  width: 100%;
  justify-content: space-between;
}

#location-header-container.close {
  height: 0px !important;
}

#location-header-container.close .outer {
  height: 0px !important;
  margin: 0px 0px 0px 30px;
}

#location-header-container .column {
  padding: 0px 20px;
  position: relative;
}

#location-header-container .column:nth-child(1) {
  text-align: right;
}

#location-header-container .grow {
  flex-grow: 1;
}

#location-header-container .current-location {
  display: flex;
  align-items: center;
  padding: 5px 30px;
}

#location-header-container .current-location img {
  width: 34x;
  height: 20px;
  margin-right: 10px;
}

#location-header-container button {
  background: #03a9f4;
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  border: 0px;
  transition: 0.3s;
  font-size: 14px;
}

#location-header-container button:hover {
  background: #0063a5;
}

#location-header-container button:active {
  color: #0063a5;
}

#location-header-container .change-location {
  color: white;
  text-decoration: underline;
  padding: 0px 20px 0px 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

#location-header-container .mobile-region-divider {
  height: 20px;
  border-bottom: 2px solid white;
  position: relative;
  top: -8px;
  margin: 0px 2px;
}

#location-header-container i {
  top: 0px;
  position: relative;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 12px;
}

#location-header-container i:hover,
#location-header-container .change-location:hover {
  color: #a7a7a7;
}

#engenius-geoip-select {
  width: 225px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: white;
}

.select2-selection.select2-selection--single {
  font-size: 14px;
  background-color: #363636;
  color: #bbbbbb;
  height: 38px;
  display: flex;
  align-items: center;
  transition: 0.3s background-color;
}

.select2-selection.select2-selection--single:hover {
  background-color: #666666;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 36px;
  border-left: 1px solid #aaa;
  padding: 0px 12px;
  background: #363636;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b,
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: white transparent transparent transparent;
}

.select2-container--default .select2-results > .select2-results__options {
  overflow-y: visible;
}

.select2-container,
.select2-dropdown {
  z-index: 10000;
  background-color: #363636;
  color: #bbbbbb;
  border: 0px;
}

.select2-search,
.select2-results__option:nth-child(1) {
  display: none;
}

.select2-container--default .select2-results__group {
  padding: 12px;
  border-bottom: 1px solid #606060;
  border-left: 1px solid #606060;
  border-right: 1px solid #606060;
  background-color: #363636;
  font-size: 13px;
  font-weight: 400;
  color: white;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding: 12px 32px 12px 32px;
  font-size: 15px;
  border-bottom: 1px solid #606060;
  border-left: 1px solid #606060;
  border-right: 1px solid #606060;
  background-color: #363636;
  color: #bbbbbb;
  display: block;
  transition: 0.3s;
}

.select2-container--default
  .select2-results__option
  .select2-results__option:hover {
  background-color: #363636;
}

.d-flex {
  display: flex;
}

@media (max-width: 1019px) {
  .flex-sm-wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 1020px) {
  .flex-lg-nowrap {
    flex-wrap: nowrap;
  }
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mr-3 {
  margin-right: 15px;
}

.font-weight-bold {
  font-weight: bold;
}

#location-header-container .welcome .close-geoip {
  display: none;
}

#location-header-container .font-12 {
  font-size: 12px !important;
  color: white;
}

#location-header-container .font-13 {
  font-size: 12px !important;
  color: white;
}

#location-header-container .font-14 {
  font-size: 14px !important;
  color: white;
}

#location-header-container .font-15 {
  font-size: 15px !important;
  color: white;
}

#location-header-container .margin-20 {
  margin-left: 20px;
  margin-right: 20px;
}

#location-header-container .d-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.chevron-container {
  background: white;
  color: grey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 24px;
  width: 32px;
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 50%;
  margin-left: -15px;
  cursor: pointer;
  transition: 0.3s background;
}

.chevron-container:hover {
  background: #ddd;
}

.chevron {
  display: inline-block;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
  position: relative;
  top: 1px;
}

.chevron.bottom {
  transform: rotate(45deg);
  top: -2px;
}

@media (max-width: 1019px) {
  #location-header-container {
    position: fixed;
    top: 56px;
  }

  #location-header-container .outer {
    padding-top: 10px;
  }

  #location-header-container .welcome {
    width: 100%;
    flex-wrap: 1;
    padding-left: 30px;
    padding-right: 22px;
  }

  #location-header-container .location {
    width: 100%;
    flex-wrap: 1;
    padding: 10px 0px;
    border-top: 1px solid #606060;
    margin-top: 10px;
  }

  #location-header-container .welcome .close-geoip {
    display: block;
  }

  #location-header-container .current-location-button {
    padding-right: 15px;
  }

  .select2-container {
    top: 199px !important;
    width: 100%;
  }

  .select2-dropdown.select2-dropdown--below {
    width: 100% !important;
    border-top: 1px solid #606060;
  }
}

@media (min-width: 1020px) {
  #location-header-container .outer {
    padding: 10px 50px 10px 35px;
  }

  #location-header-container .d-lg-flex {
    display: flex;
  }

  #location-header-container .welcome {
    padding: 0px;
  }

  .w-lg-auto {
    width: auto;
  }

  .chevron-container {
    display: none;
  }
}

@media (min-width: 1200px) {
  #location-header-container .outer {
    width: 1180px;
    padding-right: 32px;
    padding-left: 20px;
  }
}

@media (min-width: 1600px) {
  #location-header-container .outer {
    width: 1415px;
  }
}

#location-header-container .close-geoip {
  cursor: pointer;
  align-items: center;
}

#location-header-container .close-geoip img {
  width: 14px;
  height: 14px;
  transition: 0.3s opacity;
  opacity: 0.7;
}

#location-header-container .close-geoip img:hover {
  opacity: 1;
}

#location-header-container .flag-icon {
  line-height: 1.5;
  width: 33px;
}
