.close-geoip {
  position: absolute;
  top: 40%;
  right: 20px;
  align-items: center;
}

#location-header-container {
  background: #000000;
  border-bottom: 1px solid #888888;
}

#location-header-container .outer {
  justify-content: flex-end;
  width: 100%;
}

#location-header-container .inner {
  justify-content: center;
  margin-right: 30px;
}

.select2-selection.select2-selection--single {
  font-size: 13px;
}

@media (max-width: 945px) {
  #location-header-container {
    top: 58px;
  }

  #location-header-container .inner {
    margin-right: 0px;
  }

  .close-geoip {
    top: 8px;
  }
}
